<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-[#004643] mx-96 text-center">
    <h1 class="text-[#fffffe] text-3xl my-10">Messaging App</h1>
    <button class="bg-[#f9bc60] text-[#001e1d] px-3 py-1 my-2 rounded-md" ><a href="/new">new message</a></button>
    <main>
      <% messages.forEach(function(message){ %>
        <section class="p-3 my-10 bg-[#abd1c6] border-4 border-gray-100 rounded-md">
        <h2 class="text-[##001e1d]">user name: <%=message.name %> </h2>
        <p class="text-[##001e1d]">Message: <%=message.message %></p>
        <span class="text-[##001e1d]"><%=message.date%></span>
        
        
        </section>
       
        <%}) %>
    </main>
  </body>
</html>
