body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
 text-decoration: none;
 color:inherit
}
span{
  font-size: small;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}